button{
    background: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
   color: var(--text-coloe);
}
// button:hover{
//     cursor: pointer;
// }
// button:focus{
//     transform: scale(0.8);
// }