<div class="container">
    <div class="spinBtn" (click)="spinWheel()">Spin</div>
    <div class="wheel" [style.transform]="transform">
        <div class="number" style="--i:1;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:2;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:3;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:4;--clr:#ff340f;">
            <span style="font-size: 14px;">Multiplicateur</span></div>
        <div class="number" style="--i:5;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:6;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:7;--clr:#000000;">
            <span>Rien</span></div>
        <div class="number" style="--i:8;--clr:#000000;">
            <span>Rien</span></div>
    </div>
</div>