div {
    // display: flex;
    flex-direction: column;
    border: 0px;
    color: var(--text-color);
    align-items: center;
    // justify-content: space-around;
    // height: 200px;
    // width: 200px;
    // border-radius: 25px;
    // justify-content: center;

    // background: url('../../../assets/infoBox.png') no-repeat;
    // background-size: 220px;
    // background-position: left -10px top -20px;
    // font-size: small;
}
